//global variables

$black: black;
$light-grey: #333;
$dark-grey: #333;

$primary-blue: #010e42;
$secondary-blue: blue;
$alert: red;
$white: white;
$foreground: #e2e2e2;

* {
  margin: none;
  padding: none;
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: $primary-blue;
  background-image: url('../resources/star-background.png');
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  color: $white;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.container {
  padding: 10px;
  margin: 10px;
}

.logo {
  max-height: 100px;
  display: block;
  // margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.main-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 15px;
}

.sidebar {
  border: 1px solid $foreground;
  border-radius: 10px;
  padding: 50px;
  margin: 15px;
  flex-grow: 0;
  min-height: 40vw;
  box-shadow: $foreground 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $foreground;
}

.dataVisualizer {
  border: 1px solid $foreground;
  border-radius: 10px;
  padding: 50px;
  margin: 15px;
  flex-grow: 1;
  min-height: 40vw;
  box-shadow: $foreground 0px 2px 8px 0px;
  background-color: $foreground;
}

button {
  padding: 10px 40px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  border: 1px solid $primary-blue;
  border-radius: 10px;
  background-color: $primary-blue;
  color: $white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

// navbar styling

.nav {
  background-color: rgba(255, 255, 255, 0.077);
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 2rem;
  padding: 0 1rem;

  a {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;

    li.active {
      text-decoration: underline;
    }

    li:hover {
      background-color: rgba(255, 255, 255, 0.346);
    }
  }

  .active {
    text-decoration: underline;
  }
}

.nav-logo {
  padding: 7px;
  margin: 0px;
  display: flex;
  align-items: center;
}
