//METRICS CONTAINER STYLING

.metrics-container {
  display: flex;
  flex-direction: row;
  margin: 15px;
}
.doughnut {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.numbers-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 15px;
  margin-right: 50px;
}

.hit-rate,
.miss,
.hits {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
