//global variables
@import './background';
@import './dataVisualizer';
@import './navbar';
@import './teamcard';
@import './installation';

$black: #10151d;
$light-grey: #b0b0b0;
$dark-grey: #484848;
$primary-blue: #010e42;
$secondary-blue: blue;
$alert: red;
$white: #fbfbfb;
$foreground: #f5f5f5;

* {
  margin: none;
  padding: none;
  box-sizing: border-box;
}

body {
  background-color: $black;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  color: $black;
}

.h1-white {
  color: $white;
}

.h1-black {
  color: black;
}

p,
li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding: 5px;
}

// .container {
//   padding: 10px;
//   margin: 10px;
//   background-color: $black;
// }

.logo {
  max-height: 100px;
  display: block;
  // margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

//HOME PAGE STYLING

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -75px;
}

.home-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-logo {
  color: $white;
  fill: green;
  h1 {
    color: $white;
  }
}

.home-btn {
  padding: 20px 130px;
  font-size: 20px;
  margin-top: 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

button {
  padding: 10px 40px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  border: 1px solid $dark-grey;
  border-radius: 10px;
  background-color: $dark-grey;
  color: $white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-right: 0.5rem;
}

button:hover {
  background-color: $light-grey;
}
button:active {
  transform: scale(0.98);
}

#cb-button {
  margin-top: 1rem;
}
